footer {
    background-color: $footer;
    margin-top: 4rem;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;

        p {
            text-align: center;
        }
    }

    hr {
        border: none;
        height: 1px;
        background-color: $line;
        width: 80%;
        margin: 20px auto;
    }

    .logo {
        width: 200px;
    }


}