header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .header-block {
        background-color: $light-background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .logo {
            width: 200px;
        }
    }
}

body {
    padding-top: 10rem;
}
