// Variables couleurs

$light-green : #C8DDC4;
$green : #5b685d;
$brown : #8B7A66;
$blue-doctolib : #107ACA;
$dark-blue-doctolib : #045fae;
$light-grey : #F3F3F3;
$grey : #CFCFCF;
$black : #000000;
$white : #ffffff;
$footer-color: #CA907E;


// Variables textes

$title : $black;
$text : $black;
$font-title : "Montserrat", sans-serif;
$font-text : "Poppins", sans-serif;
$light-text : $white; 
$light-title : $white; 
$light-background : $white;
$background : $light-grey;

$nav : $light-green;
$nav-hover : $green;
$nav-bg-burger : $green;

$footer : $footer-color;

$line : $white;

$button-doctolib : $blue-doctolib;
$button-doctolib-hover : $dark-blue-doctolib;

$button-message : $white;
$button-message-hover : $grey;




